@model IEnumerable<CyberShoppeeDataAccessLayer.Entity.Product>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .carousel-item img {
            max-height: 400px;
            object-fit: cover;
        }

        .carousel-inner {
            transition: transform 1s ease-in-out;
        }
    </style>
</head>
<body>

    <h2 style="text-align:left; color:black; margin-left:60px;">Today's Special Products</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                        }
                    </ol>
                    <div class="carousel-inner" style="border-radius:2%;">
                        @foreach (var item in Model.Select((value, index) => new { value, index }))
                        {
                            <div class="carousel-item @(item.index == 0 ? "active" : "")">
                                <img class="d-block w-100" src="@item.value.img_url" alt="Slide @item.index">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>@item.value.ModelName</h5>
                                    <p>Unit Cost: @item.value.UnitCost</p>
                                    <a href="@Url.Action("Details", "Home", new { id = item.value.ProductId })" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 3000,
                ride: 'carousel'
            });
        });
    </script>
</body>
</html>
